img#wikiIcon {
	top: 0;
	width:72px;
	height:72px;
	position: fixed;
}

input.titleArea{
	font-size: 18pt;
	font-weight: bold;
	width: 90%;
}

header {
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 32px;
	line-height: 32px;
	padding: 20px 0;
	background: #004da0;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
}
header #eNav {
	position: absolute;
	right: 10%;
	margin-top: 0px;
}
/** (130323) グラフのパラメータ設定エリア */
div.params {
	position: fixed;
	right: 10%;
	margin-bottom: 0px;
}
header nav a:hover{
	font-size: 26pt;
}
.nav{
	padding: 2px;
	background: #253142;
	/* Firefox逕ｨ */
	background: -moz-linear-gradient(top, #004da0, #253142);
	/* Safari,Google Chrome逕ｨ */
	background: -webkit-gradient(linear, left top, left 60%, from(#004da0), to(#253142));
	position: absolute;
	top: 45px;
}

/** (121020) ナビゲーションバー拡張 */
#eNav li {
	position: relative;
	list-style-type: none;
	float: right;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: grey;
	/* Firefox 用 */
	background: #006da0;
	/* Safari,Google Chrome 用 */
	background: #006da0;
	color: white;
	font-weight: bold;
	font-family: 'comic sans ms', verdana, arial, helvetica, sans-serif;
	text-shadow: 1.5px 2.5px 2.5px #004daf;
	font-size: 16pt;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	text-decoration: none;
}

#eNav li a {
	display: block;
	text-decoration: none;
	word-break: keep-all;
}
#eNav li a:link {
	color : white;
	text-shadow: 1.5px 2.5px 2.5px grey;
}
#eNav li a:visited {
	color : white;
	text-shadow: 1.5px 2.5px 2.5px navy;
}
#eNav li ul {
	position: absolute;
	top:-999em;
	right: 1px;
	width: 175px;
	background: transparent;
}
#eNav .hover ul,
#eNav li:hover ul {
	top: 30px;
}
#eNav li ul li a:visited {
}
#eNav li:hover li a,
#eNav .hover li a {
	visibility: visible;
	margin-left: 10px;
	text-decoration: none;
	/*vertical-align: middle;*/
}

/** (121015) http://css-happylife.com/ 参考 */
a:hover{
	background:rgba(255,255,255,0.8);
	border:1px solid #ccc;
	padding:7px 10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:1px 1px 3px rgba(150,150,150,0.5);
	-moz-box-shadow:1px 1px 3px rgba(150,150,150,0.5);
	box-shadow:1px 1px 3px rgba(150,150,150,0.5)
}

/** Main layout **/
html, body {
	font-family: Helvetica, Arial, Sans !important;
    margin-top: 100px;
}
body {
	margin: auto;
	background-position: 50% 50%;
}

/** Blog header **/

#header {
	padding: 8px 0;
	position: relative;
}

#logo {
	position: absolute;
	height: 45px;
	/* (121028) edit */
	margin-left: 90px;
	color: #fff;
	font-size: 48px;
	font-weight: bold;
	letter-spacing: -4px;
	text-shadow: 1.5px 2.5px 2.5px #004daf;
	text-decoration: none;
}

#logo span {
	max-width:0;
	color: #f00;
	font-size: 70%;
}
#logo a{
	position: absolute;
	height: 45px;
	margin-left: 20px;
	color: #fff;
	font-size: 48px;
	font-weight: bold;
	letter-spacing: -4px;
	text-shadow: 1.5px 2.5px 2.5px #004daf;
	text-decoration: none;
}
#logo a:hover{
	padding:2px 0px;
}
#tools {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 30px;
	right: 20px;
}

#tools a {
	color: #fff;
	text-decoration: none;
}

#title {
	background: #B8C569;
	padding: 20px 30px 30px 20px;
	margin: 20px 0;
	color: #3C4313;
	position: relative;
	-webkit-border-radius: 16px;
	-webkit-box-shadow: 0 2px 0 #93A045;
	-moz-border-radius: 16px;
}

/** A little hacky to create arrows without images **/
.about {
	text-indent: -999em;
	display: block;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent;
	border-bottom: 10px solid #BAC36E;
	border-top: 0;
	position: absolute;
	top: -10px;
	left: 60px;
}

#title h1 {
	font-size: 64px;
	margin: 0;
}

#title h1 a {
	text-decoration: none;
	color: inherit;
}

#title h2 {
	font-size: 26px;
	margin: 0;
	font-weight: normal;
}

/** Main content **/

#main {
	background: #FFFFFF;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	padding: 20px;
}

/** Form **/
form .error {
	background: #c00;
	color: #fff;
	font-size: 90%;
	padding: 3px 5px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-box-shadow: 0 2px 0 #800;
}

form .error:empty {
	 display: none;	
}

form p {
	margin: 5px 0 0 0;
}

form input, form textarea {
	font-size: 14px;
}

form label {
	display: block;
	font-weight: bold;
	font-size: 90%;
	color: #aaa;
	margin-bottom: 3px;
}

#captcha{
	display: block;
	height: 50px;	
}

.success {
	background: #67AD10;
	color: #fff;
	padding: 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-box-shadow: 0 2px 0 #4E840B; 
}

/** Pagination **/

#pagination {
	list-style: none;
	padding: 0;
	position: relative;
	color: #869AB1;
	font-size: 90%;
	top: -20px;
	margin-bottom: 30px;
}

#pagination a {
	color: #869AB1;
	font-size: 90%;
}

#pagination #previous {
	position: absolute;
	top: 0;
	left: 0;
}

#pagination #previous:before {
	content: '<< ';
}

#pagination #next {
	position: absolute;
	top: 0;
	right: 0;
}

#pagination #next:after {
	content: ' >>';
}

/** Footer **/

#footer {
	border-top: 1px solid #45597A;
	font-size: 70%;
	padding: 10px 30px;
	text-align: center;
	color: #869AB1;
	margin-top: 30px;
}

#footer a {
	color: #869AB1;
	font-weight: bold;
}

tr.odd {
	background: #BECCE7 !important;
}

/* menubar */
div.body {
	position: relative;
}

div.main {
	width: 80%;
	padding: 0px 0px 5px 45px;
}
div.menubar {
	font-size: 90%;
	top: 15%;
	width: 15%;
	border-style: solid;
	border-width: 0.5px;
	background: white;
	position: fixed;
	display: block;
	list-style-type: none;
}
div.menubar li {
	margin: 0px;
	padding: 8px;
	display: block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #CFD;
	color: #000;
	text-decoration: none;
}
div.menubar li:hover{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: #DFF;
}
div.menubar ul {
	margin-top: 4px;
	margin-bottom: 4px;
}
div.menubar li ul {
	position: absolute;
	left: -999em;
	width: 150px;
	background: transparent;
}
div.menubar :hover ul,
div.menubar li:hover ul {
	left: 1em;
}
div.menubar ul:hover ul,
div.menubar .hover li {
	visibility: visible;
	margin-left: 10px;
	text-decoration: none;
}

p.param_sentence {
    width: 80%;
}

div.input_area {
    position: fixed;
    bottom:   20px;
    width:    80%;
}

textArea.input_box {
    width:    80%;
    height:   8em;
}
